# Testing and archive
Logs/
temp/
deleteme*
Signals/Debug/*
Signals/pyCode/Debug/*
Signals/zzz-archive/*
Signals/pyCode/dev/*

.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history

*.Rprofile
*.Rproj
*.log
*.e*
*.o*
*.Rout

# Data
Results/
Portfolios/Data/*
Portfolios/pyData/*
Signals/Data/*
Signals/pyData/*
Shipping/Data/* 

# Keep folder structure
!Results/.gitkeep
!Portfolios/Data/.gitkeep
!Portfolios/pyData/.gitkeep
!Signals/Data/.gitkeep
!Signals/pyData/.gitkeep
!Shipping/Data/.gitkeep

# Credentials
.env

# Mac
.DS_Store

# Python
.venv
__*__*


# Other
Portfolios/Code/Rplots.pdf
.git
AGENTS.md

